.overlay {
	display: none !important;
	background: rgba(0, 0, 0, 0.7);
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	width: 100vw;
	position: fixed;
	z-index: 998;
	top: 0;
	left: 0;
	&.active {
		display: flex !important;
	}
	.modal {
		border-radius: 1rem;
		position: relative;
		z-index: 999;
		padding: 5rem;
		background: var(--clr-primary-5);
    background-image: linear-gradient(180deg, var(--clr-primary-5) 0%, var(--clr-primary-7) 100%);
		color: var(--clr-primary-0);
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
		max-width: 640px;
		margin: 5%;
		text-align: center;
        overflow: hidden;
        &:before {
            position: absolute;
            content: urL("/assets/img/graphic-4.svg");
            top: -2rem;
            right: -2rem;
        }
		.quote {
			font-size: 1.5rem;
			margin: 0;
		}
    .close {
      position: absolute;
      top: 0.5rem;
      right: 0.5rem;
      font-size: 1.5rem;
      padding: 0 0.5rem;
      border-radius: 50%;
      transition: 0.25s ease;
      color: var(--clr-primary-0);
      &:hover {
        text-decoration: none;
        background: var(--clr-primary-0);
        color: var(--clr-light);
      }
    }
		.loader {
          width: 48px;
          height: 48px;
          margin: 3rem auto 4rem auto;
          position: relative;
        }
        .loader:before {
            content: '';
            width: 48px;
            height: 5px;
            background: var(--clr-dark);
            opacity: 0.25;
            position: absolute;
            top: 60px;
            left: 0;
            border-radius: 50%;
            animation: shadow 0.5s linear infinite;
          }
          .loader:after {
            content: '';
            width: 100%;
            height: 100%;
            background: var(--clr-primary-1);
            //background-image: linear-gradient(180deg, var(--clr-primary-1) 0%, var(--clr-primary-4) 100%);
            animation: bxSpin 0.5s linear infinite;
            position: absolute;
            top: 0;
            left: 0;
            border-radius: 4px;
          }
        @keyframes bxSpin {
          17% {
            border-bottom-right-radius: 3px;
          }
          25% {
            transform: translateY(9px) rotate(22.5deg);
          }
          50% {
            transform: translateY(18px) scale(1, .9) rotate(45deg);
            border-bottom-right-radius: 40px;
          }
          75% {
            transform: translateY(9px) rotate(67.5deg);
          }
          100% {
            transform: translateY(0) rotate(90deg);
          }
        }

        @keyframes shadow {
          0%, 100% {
            transform: scale(1, 1);
          }
          50% {
            transform: scale(1.2, 1);
          }
        }
      
		.status {
		}
	}
}
