main {
	// margin-bottom: 4rem;
}
.about {
	background: var(--clr-light);
	margin: 5rem 0;
}
.problem {
	background-color: var(--clr-primary-7);
}
.getbadge {
	margin: 5rem 0;
}
.featured {
	padding: 2rem 0 6rem 0;	
	background: var(--clr-primary-10);
	a {
		color: var(--clr-primary-0);
	}
}