:root {
	/* UI Colors */

	--clr-dark: #47455a;
	--clr-light: #ffffff;

	--clr-primary-0-1: #003220;
	--clr-primary-0: #026742;
	--clr-primary-1: #089b65;
	--clr-primary-2: #71c65e;
	--clr-primary-3: #3aac5d;
	--clr-primary-4: #b9de50;
	--clr-primary-5: #eef5e5;
	--clr-primary-6: #e5f4df;
	--clr-primary-7: #edf8f4;
	--clr-primary-8: #f3f6f8;
	--clr-primary-9: #9ed3ac;
	--clr-primary-10: #bed6c4;

	--clr-secondary-1: #f4b30d;
	--clr-secondary-4: #fcebef;
	--clr-secondary-5: #f28599;

	--border-color: #ebebeb;
}
