/**
 * Tabs
 */
.tabs {
	display: flex;
	flex-wrap: wrap; // make sure it wraps
}
.tabs label {
	order: 1; // Put the labels first
	display: block;
	padding: 0.5rem 2rem;
	margin-right: 0.2rem;
	box-shadow: var(--shadow03);
	cursor: pointer;
	background: #fff9f1;
	color: #997d61;
	font-weight: bold;
	transition: background ease 0.2s;
	border-radius: 0.5rem 0.5rem 0 0;
}
.tabs .tab {
	order: 99; // Put the tabs last
	flex-grow: 1;
	width: 100%;
	display: none;
	background: var(--base06);
	box-shadow: var(--shadow03);
	text-align: left;
	border-radius: 0.5rem;
}
.tabs input[type="radio"] {
	display: none;
}
.tabs input[type="radio"]:checked + label {
	background: #fbebd4;
	color: #84613d;
}
.tabs input[type="radio"]:checked + label + .tab {
	display: block;
}

@media (max-width: 45em) {
	.tabs .tab,
	.tabs label {
		order: initial;
		border-radius: 0.5rem !important;
		margin-bottom: 0.5rem;
	}
	.tabs label {
		width: 100%;
		margin-right: 0;
		margin-top: 0.2rem;
		border-radius: 0.5rem !important;
	}
}
